<div id="<%= dom_id storage_location %>">
  <p>
    <strong>Location:</strong>
    <%= storage_location.location_id %>
  </p>

  <p>
    <strong>Shefl:</strong>
    <%= storage_location.shefl %>
  </p>

  <p>
    <strong>Drawer:</strong>
    <%= storage_location.drawer %>
  </p>

</div>
