<div id="<%= dom_id publishing_company %>">
  <p>
    <strong>Publisher:</strong>
    <%= publishing_company.publisher_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= publishing_company.name %>
  </p>

</div>
