<div id="<%= dom_id librarian %>">
  <p>
    <strong>Librarian:</strong>
    <%= librarian.librarian_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= librarian.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= librarian.phone_number %>
  </p>

</div>
